[Unit]
Description=SpotifyGestures
Requires=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /usr/local/bin/SpotifyGestures/main.py
WorkingDirectory=/usr/local/bin/SpotifyGestures
Environment=PYTHONUNBUFFERED=1
Restart=on-failure
KillSignal=SIGINT
TimeoutStopSec=5

[Install]
WantedBy=multi-user.target
